## NEED THE AVERAGE SALARY FOR YEAR VS. MY TEAM SALARY

In [1]:
import pandas as pd
import numpy as np

In [2]:
batting = pd.read_csv("data/Batting.csv")
salaries = pd.read_csv("data/Salaries.csv")
master = pd.read_csv("data/Master.csv")
appearances = pd.read_csv("data/Appearances.csv")

In [3]:
batting = batting[batting.yearID.isin([1988])]

In [4]:
salaries = salaries[salaries.yearID.isin([1988])]

In [5]:
appearances = appearances[appearances.yearID.isin([1988])]

In [ ]:
master.head()

In [6]:
master = master.drop(["birthYear", "birthMonth", "birthDay", "birthCountry", "birthState", "birthCity", "deathYear", "deathMonth", "deathDay", "weight", "height", "bats", "throws", "debut", "finalGame", "retroID", "bbrefID"], axis=1)

In [ ]:
master.head()

In [7]:
master = master.drop(["deathCountry", "deathState", "deathCity", "nameGiven"], axis=1)

In [ ]:
master.head()

In [8]:
everything = pd.merge(batting, salaries, how="inner", left_on="playerID", right_on="playerID")

In [9]:
everything = pd.merge(everything, appearances, how="inner", left_on="playerID", right_on="playerID")

In [ ]:
everything.head()

In [10]:
everything = everything.set_index(["playerID"])

In [ ]:
everything.head()

In [11]:
everything = everything.drop(["stint", "teamID_x", "lgID_x", "yearID_y", "teamID_y", "lgID_y"], axis=1)

In [ ]:
everything.head()

In [ ]:
everything.columns

In [12]:
everything = everything.drop(["yearID", "teamID", "lgID", "G_all", "GS", "G_batting", "G_defense", "G_pr", "G_ph", "G_dh"], axis=1)

In [13]:
everything.head()

,yearID_x,G,AB,R,H,2B,3B,HR,RBI,SB,...,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of
playerID,,,,,,,,,,,,,,,,,,,,,
aasedo01,1988,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35,0,0,0,0,0,0,0,0,0
abnersh01,1988,37,83,6,15,3,0,2,5,0,...,0,0,0,0,0,0,10,11,17,35
ackerji01,1988,21,5,0,2,0,0,0,0,0,...,21,0,0,0,0,0,0,0,0,0
agostju01,1988,75,5,0,0,0,0,0,0,0,...,75,0,0,0,0,0,0,0,0,0
aguaylu01,1988,49,97,9,24,3,0,3,5,2,...,0,0,0,13,33,6,0,0,0,0

In [ ]:
everything.columns

In [14]:
everything = everything.drop(["R", "2B", "3B", "HR", "RBI", "SB", "CS", "SO", "SH", "GIDP"], axis=1)

In [15]:
everything = everything.drop(["IBB"], axis = 1)

In [16]:
everything["OBP"] = (everything.H + everything.HBP + everything.BB) / (everything.AB + everything.BB + everything.HBP +everything.SF)

In [17]:
everything = everything.drop(["H", "BB", "HBP", "SF"], axis=1)

In [18]:
everything = everything[pd.notnull(everything['OBP'])]

In [ ]:
everything = everything.drop(everything[everything.G < 80].index)

In [23]:
everything_pitchers =everything.drop(everything[everything.G_p <= 1].index)

In [26]:
everything_pitchers = everything_pitchers.drop(["G_c", "G_1b", "G_c", "G_2b", "G_3b", "G_ss", "G_lf", "G_cf", "G_rf", "G_of"], axis=1)

In [28]:
everything_pitchers = pd.merge(everything_pitchers, master, how="inner", left_index=True, right_on="playerID")

In [29]:
everything_pitchers = everything_pitchers.set_index(["playerID"])

In [32]:
everything_pitchers = everything_pitchers.sort(columns="OBP", axis=0, ascending=False)

In [33]:
with pd.option_context('display.max_rows', 999, 'display.max_columns', 20):
    print(everything_pitchers)

           yearID_x   G  AB   salary  G_p       OBP  nameFirst     nameLast
playerID
parreje01      1988  61   0    90000   61  1.000000       Jeff      Parrett
perrypa02      1988  35   1   132500   35  1.000000        Pat        Perry
perrypa02      1988  35   1   132500   12  1.000000        Pat        Perry
ackerji01      1988  21   5   435000   21  0.500000        Jim        Acker
suttebr01      1988  38   1  1729167   38  0.500000      Bruce       Sutter
halldr01       1988  19   1    68000   19  0.500000       Drew         Hall
quiseda01      1988  33   1  1562350   20  0.500000        Dan  Quisenberry
quiseda01      1988  33   1  1562350   33  0.500000        Dan  Quisenberry
leipeda01      1988  35   2    75000   35  0.500000       Dave       Leiper
mcculla01      1988  60   8   190000   60  0.333333      Lance    McCullers
mcdowro01      1988  63   9   615000   62  0.333333      Roger     McDowell
anderla02      1988  53   6   450000   53  0.333333      Larry     Andersen
assenpa01      1988  64   3    81000   64  0.333333       Paul  Assenmacher
forscbo01      1988  31  25   400000    6  0.307692        Bob       Forsch
forscbo01      1988  31  25   400000   30  0.307692        Bob       Forsch
fernasi01      1988  31  56   580000   31  0.307692        Sid    Fernandez
lacosmi01      1988  19  33   500000   19  0.285714       Mike       LaCoss
learyti01      1988  36  67   190000   35  0.285714        Tim        Leary
andujjo01      1988  23  19   450000   23  0.285714    Joaquin      Andujar
terrysc01      1988  51  28    75000   51  0.275862      Scott        Terry
davisma01      1988  62  10   520000   62  0.272727       Mark        Davis
coffmke01      1988  19  22    65000   18  0.260870      Kevin      Coffman
rasmude01      1988  20  48   457500   11  0.259259     Dennis    Rasmussen
rasmude01      1988  20  48   457500   20  0.259259     Dennis    Rasmussen
palmeda01      1988  22  39   675000   22  0.256410      David       Palmer
myersra01      1988  55   4   108000   55  0.250000      Randy        Myers
aguilri01      1988  11   4   295000   11  0.250000       Rick     Aguilera
bookegr01      1988  34   8   130000   34  0.250000       Greg       Booker
robinje01      1988  75  16   475000   75  0.235294       Jeff     Robinson
puleoch01      1988  53  13   195000   53  0.230769    Charlie        Puleo
darliro01      1988  34  82  1000000   34  0.228916        Ron      Darling
rasmude01      1988  11  22   457500   20  0.227273     Dennis    Rasmussen
rasmude01      1988  11  22   457500   11  0.227273     Dennis    Rasmussen
glavito02      1988  42  60    65000   34  0.222222        Tom      Glavine
jonesji02      1988  32  55    95000   29  0.216667      Jimmy        Jones
martide01      1988  34  78   735000   34  0.212500     Dennis     Martinez
downske01      1988  27  54   160000   27  0.210526      Kelly        Downs
mathegr01      1988  13  23   125000   13  0.208333       Greg      Mathews
grosske01      1988  33  75   450000   33  0.205128      Kevin        Gross
robindo01      1988  52  52   900000   51  0.203704        Don     Robinson
drabedo01      1988  33  76   160000   33  0.202532       Doug       Drabek
crewsti01      1988  42   5    78000   42  0.200000        Tim        Crews
robinro01      1988  17  25   390000   17  0.200000        Ron     Robinson
kippebo01      1988  50   4   125000   50  0.200000        Bob       Kipper
valenfe01      1988  23  44  2050000   23  0.200000   Fernando   Valenzuela
maddugr01      1988  37  96    82500   34  0.197917       Greg       Maddux
sutclri01      1988  33  75  2070000   32  0.197531       Rick    Sutcliffe
ruffibr01      1988  55  33   140000   55  0.194444      Bruce       Ruffin
brownto05      1988  41  83   442500   36  0.193182        Tom     Browning
hillesh01      1988  11  15    78000    6  0.187500      Shawn     Hillegas
hillesh01      1988  11  15    78000   11  0.187500      Shawn     Hillegas
smithza01      1988  27  42   450000   23  0.186047       Zane        Smith
goodedw01      1988  34  90  1400000   34  0.184783     Dwight       Gooden
magrajo01      1988  25  48   100000   24  0.183673        Joe      Magrane
coneda01       1988  35  80    92500   35  0.180723      David         Cone
whitsed01      1988  34  66  1000000   34  0.179104         Ed      Whitson
ojedabo01      1988  30  61   725000   29  0.177419        Bob        Ojeda
hammaat01      1988  43  33   750000   43  0.171429      Atlee     Hammaker
mcgafan01      1988  63   5   500000   63  0.166667       Andy   McGaffigan
maddumi01      1988  26  23    70000   25  0.166667       Mike       Maddux
tudorjo01      1988  23  46  1100000   21  0.163265       John        Tudor
tudorjo01      1988  23  46  1100000    9  0.163265       John        Tudor
deleojo01      1988  35  72   375000   34  0.162162       Jose       DeLeon
jacksda02      1988  35  90   390000   35  0.161290      Danny      Jackson
sotoma01       1988  14  22  1200000   14  0.160000      Mario         Soto
shower01       1988  32  81   887500   32  0.158537       Eric         Show
kneppbo01      1988  27  48  1000000   27  0.156863        Bob      Knepper
dunnemi01      1988  34  46   142500   30  0.156863       Mike        Dunne
youmafl01      1988  14  26   160000   14  0.148148      Floyd      Youmans
leachte01      1988  52  14   190000   52  0.142857      Terry        Leach
heatone01      1988  32  21   625000   32  0.142857       Neal       Heaton
worreto01      1988  68   6   200000   68  0.142857       Todd      Worrell
forscbo01      1988   6   7   400000   30  0.142857        Bob       Forsch
forscbo01      1988   6   7   400000    6  0.142857        Bob       Forsch
smithbr01      1988  32  55   525000   32  0.140351       Bryn        Smith
hershor01      1988  36  85  1100000   35  0.139535       Orel    Hershiser
mahleri01      1988  39  72   737500   39  0.136986       Rick       Mahler
walkbo01       1988  34  69   450000   32  0.136986        Bob         Walk
reuscri01      1988  36  73   800000   36  0.133333       Rick     Reuschel
smithpe02      1988  32  53    65000   32  0.129630       Pete        Smith
moyerja01      1988  34  60   142500   34  0.126984      Jamie        Moyer
suttodo01      1988  16  23   350000   16  0.125000        Don       Sutton
hawkian01      1988  33  62   453000   33  0.125000       Andy      Hawkins
smilejo01      1988  34  63   107500   34  0.121212       John       Smiley
rawlesh01      1988  32  57   900000   32  0.120690      Shane       Rawley
krukomi01      1988  20  41   900000   20  0.116279       Mike       Krukow
schirca01      1988  29  60   207500   29  0.112903     Calvin    Schiraldi
fishebr01      1988  33  42   255000   33  0.111111      Brian       Fisher
grantma01      1988  33  16    90000   33  0.111111       Mark        Grant
pricejo02      1988  38   8   300000   38  0.111111        Joe        Price
palacvi01      1988   7   8    62500    7  0.111111    Vicente     Palacios
ryanno01       1988  33  70  1000000   33  0.108108      Nolan         Ryan
perezpa01      1988  41  54    70000   27  0.103448    Pascual        Perez
dipinfr01      1988  63  10   465000   63  0.100000      Frank       DiPino
draveda01      1988   7  10   700000    7  0.100000       Dave     Dravecky
bielemi01      1988  19  10   110000   19  0.100000       Mike     Bielecki
scottmi03      1988  32  71   666667   32  0.097222       Mike        Scott
nippeal01      1988  22  23   397000   22  0.086957         Al       Nipper
darwida01      1988  44  56   760000   44  0.086207      Danny       Darwin
deshaji01      1988  31  63   205000   31  0.076923        Jim     Deshaies
garresc01      1988  65  13   625000   65  0.076923      Scott     Garrelts
tudorjo01      1988   9  13  1100000    9  0.071429       John        Tudor
tudorjo01      1988   9  13  1100000   21  0.071429       John        Tudor
belchti01      1988  36  56    78000   36  0.071429        Tim      Belcher
lapoida01      1988   8  16   425000   25  0.062500       Dave      LaPoint
lapoida01      1988   8  16   425000    8  0.062500       Dave      LaPoint
rijojo01       1988  49  37   127500   49  0.054054       Jose         Rijo
lancale01      1988  44  20    90000   44  0.050000        Les    Lancaster
carmado01      1988  36  63   450000   36  0.047619        Don       Carman
coxda01        1988  13  23   750000   13  0.043478      Danny          Cox
howelke01      1988   4   1   215000    4  0.000000        Ken       Howell
capelmi01      1988  22   2    62500   22  0.000000       Mike        Capel
howelja01      1988  50   2   595000   50  0.000000        Jay       Howell
tekulke01      1988  70   2   850000   70  0.000000       Kent      Tekulve
burketi01      1988  61   2   625000   61  0.000000        Tim        Burke
brennwi01      1988   4   2    62500    4  0.000000    William      Brennan
mcclubo01      1988  19   2   500000   14  0.000000        Bob      McClure
stclara01      1988  10   1   100000   10  0.000000      Randy   St. Claire
mcclubo01      1988  19   2   500000   19  0.000000        Bob      McClure
jonesba01      1988  42   5    90000   17  0.000000      Barry        Jones
jonesba01      1988  42   5    90000   42  0.000000      Barry        Jones
bedrost01      1988  57   2   925000   57  0.000000      Steve    Bedrosian
willifr01      1988  60   1   442500   60  0.000000      Frank     Williams
agostju01      1988  75   5   157500   75  0.000000       Juan       Agosto
stclara01      1988  10   1   100000    6  0.000000      Randy   St. Claire
francjo01      1988  70   1   675000   70  0.000000       John       Franco
rhoderi01      1988  31   1   900000   30  0.000000       Rick       Rhoden
perrypa02      1988  12   2   132500   35  0.000000        Pat        Perry
gossari01      1988  46   1  1331532   46  0.000000       Rich      Gossage
gottji01       1988  67   1   500000   67  0.000000        Jim         Gott
havenbr01      1988   9   1   185000   28  0.000000       Brad       Havens
havenbr01      1988   9   1   185000    9  0.000000       Brad       Havens
perrypa02      1988  12   2   132500   12  0.000000        Pat        Perry
russeje01      1988  35   1   190000   34  0.000000       Jeff      Russell
penaal01       1988  60   6   400000   60  0.000000  Alejandro         Pena
hillke01       1988   4   3    62500    4  0.000000        Ken         Hill
heathje02      1988  17   3    72000   17  0.000000       Jeff    Heathcock
dayleke01      1988  54   4   610000   54  0.000000        Ken       Dayley
oroscje01      1988  55   2  1000000   55  0.000000      Jesse       Orosco
landrbi01      1988   7   2    75000    7  0.000000       Bill      Landrum
smithda02      1988  51   2  1100000   51  0.000000       Dave        Smith
medvisc01      1988  17   3    62500   17  0.000000      Scott       Medvin
leffecr01      1988  64   9   575000   64  0.000000      Craig     Lefferts

In [94]:
everything2.head(500)

,G,salary,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,OBP,nameFirst,nameLast
playerID,,,,,,,,,,,,,
boggswa01,155,1650000,0,0,0,151,0,0,0,0,0.475661,Wade,Boggs
greenmi01,158,205000,0,0,0,0,0,143,0,8,0.415584,Mike,Greenwell
davisal01,140,887500,0,115,0,0,0,0,0,0,0.412371,Alvin,Davis
winfida01,149,1958652,0,0,0,0,0,0,0,141,0.397781,Dave,Winfield
danieka01,140,185000,0,0,0,0,0,138,0,0,0.397284,Kal,Daniels
mullira01,119,600000,0,0,0,7,0,0,0,0,0.395466,Rance,Mulliniks
puhlte01,113,950000,0,0,0,0,0,48,1,33,0.394834,Terry,Puhl
henderi01,140,1770000,0,0,0,0,0,135,3,0,0.393798,Rickey,Henderson
butlebr01,157,900000,0,0,0,0,0,0,156,0,0.393443,Brett,Butler
magadda01,112,112500,0,71,0,48,0,0,0,0,0.393140,Dave,Magadan
cansejo01,158,325000,0,0,0,0,0,0,0,144,0.390625,Jose,Canseco
brettge01,157,2305000,0,124,0,0,1,0,0,0,0.389134,George,Brett
backmwa01,99,650000,0,0,92,0,0,0,0,0,0.387574,Wally,Backman
seitzke01,149,175000,0,0,0,147,0,1,0,0,0.387500,Kevin,Seitzer
hrbekke01,143,1410000,0,105,0,0,0,0,0,0,0.386986,Kent,Hrbek
johnswa03,86,100000,0,13,1,0,0,0,0,0,0.386792,Wallace,Johnson
clarkwi02,162,320000,0,158,0,0,0,0,0,0,0.386067,Will,Clark
molitpa01,154,1400000,0,0,1,105,0,0,0,0,0.383942,Paul,Molitor
clarkja01,150,1500000,0,10,0,0,0,5,0,14,0.381494,Jack,Clark
reedjo01,109,64500,0,0,11,4,94,0,0,0,0.380463,Jody,Reed
gibsoki01,150,1833333,0,0,0,0,0,148,1,0,0.376789,Kirk,Gibson
whitalo01,115,975000,0,0,110,0,0,0,0,0,0.375796,Lou,Whitaker
mcgrifr01,154,127500,0,153,0,0,0,0,0,0,0.375602,Fred,McGriff
puckeki01,158,1090000,0,0,0,0,0,0,158,0,0.374819,Kirby,Puckett
evansdw01,149,1600000,0,64,0,0,0,0,1,84,0.374806,Dwight,Evans
trammal01,128,1000000,0,0,0,0,126,0,0,0,0.372849,Alan,Trammell
gwynnto01,133,840000,0,0,0,0,0,0,32,102,0.372822,Tony,Gwynn
bergmda01,116,360000,0,64,0,0,0,13,0,0,0.371601,Dave,Bergman
ripkeca01,161,1700000,0,0,0,0,161,0,0,0,0.371553,Cal,Ripken
krukjo01,120,250000,0,63,0,0,0,29,0,26,0.369330,John,Kruk
...,...,...,...,...,...,...,...,...,...,...,...,...,...
manrifr01,140,97500,0,0,129,0,12,0,0,0,0.283019,Fred,Manrique
jamesch02,150,138000,0,0,0,31,0,8,27,101,0.282645,Chris,James
santibe01,139,167500,136,0,0,0,0,0,0,0,0.281609,Benito,Santiago
elsteke01,149,69000,0,0,0,0,149,0,0,0,0.281532,Kevin,Elster
preslji01,150,535000,0,0,0,146,0,0,0,0,0.280136,Jim,Presley
gedmari01,95,952727,92,0,0,0,0,0,0,0,0.278638,Rich,Gedman
paglimi01,125,500000,0,0,0,124,0,0,0,0,0.276074,Mike,Pagliarulo
sveumda01,129,185000,0,0,1,0,127,0,0,0,0.274390,Dale,Sveum
knighra01,105,525000,0,64,0,11,0,2,0,0,0.270769,Ray,Knight
riverlu01,123,70000,0,0,0,0,116,0,0,0,0.270677,Luis,Rivera
bostoda01,105,75000,0,0,0,0,0,44,43,1,0.270627,Daryl,Boston
dunstsh01,155,207500,0,0,0,0,151,0,0,0,0.270588,Shawon,Dunston
kennete02,85,300000,79,0,0,0,0,0,0,0,0.268551,Terry,Kennedy
kennete02,85,850000,79,0,0,0,0,0,0,0,0.268551,Terry,Kennedy
melvibo01,92,145000,89,1,0,0,0,0,0,0,0.268293,Bob,Melvin
thomaan01,153,110000,0,0,0,0,150,0,0,0,0.267943,Andres,Thomas
hamilje01,111,82500,0,1,0,105,2,0,0,0,0.267692,Jeff,Hamilton
skinnjo01,88,110000,85,1,0,0,0,1,0,1,0.266917,Joel,Skinner
whitefr01,150,825000,0,0,148,0,0,0,0,0,0.265845,Frank,White
conceda01,84,370000,0,16,46,9,13,0,0,0,0.265116,Dave,Concepcion
gonzare01,92,75000,0,1,14,80,2,0,0,1,0.262745,Rene,Gonzales
trabeji01,103,80000,0,57,0,0,0,2,0,8,0.261333,Jim,Traber
ripkebi01,150,80000,0,0,149,2,0,0,0,0,0.260398,Billy,Ripken
davismi02,108,987500,0,0,0,0,0,1,23,63,0.259740,Mike,Davis
griffal01,95,750000,0,0,0,0,93,0,0,0,0.259475,Alfredo,Griffin
gerhake01,103,83000,0,0,0,0,0,30,57,10,0.256055,Ken,Gerhart
nettlgr01,80,200000,0,5,0,12,0,0,0,0,0.240385,Graig,Nettles
fordcu01,91,100000,0,7,0,0,0,24,3,13,0.239130,Curt,Ford
diazbo01,92,850000,88,0,0,0,0,0,0,0,0.236196,Bo,Diaz
eisenji01,82,90000,0,0,0,0,0,30,15,21,0.235849,Jim,Eisenreich

In [19]:
everything_hitters = everything.sort(columns='OBP', axis=0, ascending=False)

In [ ]:
everything = pd.merge(everything, master, how="inner", left_index=True, right_on="playerID")

In [ ]:
everything = everything.set_index(["playerID"])

In [ ]:
everything.head()

In [ ]:
everything2 = everything.drop(["G_p", "G_of", "AB"], axis=1)

In [ ]:
everything2 = everything2[["nameFirst", "nameLast", "OBP", "salary"]]

In [ ]:
everything3 = everything[["G_c", "G_1b", "G_2b", "G_3b", "G_ss", "G_lf", "G_cf", "G_rf"]]

In [ ]:
with pd.option_context('display.max_rows', 999, 'display.max_columns', 20):
    print(everything2)

In [ ]:
with pd.option_context('display.max_rows', 999, 'display.max_columns', 20):
    print(everything3)

In [34]:
my_team = {"player": ["Will Clark", "Jose Oquendo", "Kevin Sietzer", "Jody Reed", "Mike Greenwell", "Ellis Burks", "Jose Canseco", "Geno Petralli", "Sid Fernandez"], "salary": [320000, 275000, 175000, 64500, 205000, 125000, 325000, 135000, 580000], "OBP": [0.386, 0.350, 0.386, 0.380, 0.416, 0.367, 0.390, 0.356, 0.308]}

In [35]:
team_frame = pd.DataFrame.from_dict(my_team)

In [36]:
team_frame = team_frame.

     OBP          player  salary
0  0.386      Will Clark  320000
1  0.350    Jose Oquendo  275000
2  0.386   Kevin Sietzer  175000
3  0.380       Jody Reed   64500
4  0.416  Mike Greenwell  205000
5  0.367     Ellis Burks  125000
6  0.390    Jose Canseco  325000
7  0.356   Geno Petralli  135000
8  0.308   Sid Fernandez  580000