In [1]:
import pandas as pd
import numpy as np

In [3]:
batting = pd.read_csv("data/Batting.csv")
salaries = pd.read_csv("data/Salaries.csv")
master = pd.read_csv("data/Master.csv")

In [11]:
everything = pd.merge(batting, salaries, how="outer", left_on="playerID", right_on="playerID")

In [12]:
everything.head()

,playerID,yearID_x,stint,teamID_x,lgID_x,G,AB,R,H,2B,...,SO,IBB,HBP,SH,SF,GIDP,yearID_y,teamID_y,lgID_y,salary
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,addybo01,1873,1,PH2,NaN,10,51,12,16,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,addybo01,1873,2,BS1,NaN,31,152,37,54,5,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,addybo01,1874,1,HR1,NaN,50,213,25,51,9,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN