In [2]:
import pandas as pd
import numpy as np

In [15]:
batting = pd.read_csv("data/Batting.csv")
salaries = pd.read_csv("data/Salaries.csv")
master = pd.read_csv("data/Master.csv")
appearances = pd.read_csv("data/Appearances.csv")

In [16]:
batting = batting[batting.yearID.isin([1988])]

In [17]:
salaries = salaries[salaries.yearID.isin([1988])]

In [19]:
appearances = appearances[appearances.yearID.isin([1988])]

In [22]:
everything = pd.merge(batting, salaries, how="inner", left_on="playerID", right_on="playerID")

In [24]:
everything = pd.merge(everything, appearances, how="inner", left_on="playerID", right_on="playerID")

In [25]:
everything.head()

,playerID,yearID_x,stint,teamID_x,lgID_x,G,AB,R,H,2B,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,aasedo01,1988,1,BAL,AL,35,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
1,abnersh01,1988,1,SDN,NL,37,83,6,15,3,...,0,0,0,10,11,17,35,0,1,3
2,ackerji01,1988,1,ATL,NL,21,5,0,2,0,...,0,0,0,0,0,0,0,0,0,0
3,agostju01,1988,1,HOU,NL,75,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,aguaylu01,1988,1,PHI,NL,49,97,9,24,3,...,13,33,6,0,0,0,0,0,4,0

In [26]:
everything = everything.set_index(["playerID"])

In [27]:
everything.head()

,yearID_x,stint,teamID_x,lgID_x,G,AB,R,H,2B,3B,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
playerID,,,,,,,,,,,,,,,,,,,,,
aasedo01,1988,1,BAL,AL,35,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
abnersh01,1988,1,SDN,NL,37,83,6,15,3,0,...,0,0,0,10,11,17,35,0,1,3
ackerji01,1988,1,ATL,NL,21,5,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
agostju01,1988,1,HOU,NL,75,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aguaylu01,1988,1,PHI,NL,49,97,9,24,3,0,...,13,33,6,0,0,0,0,0,4,0

In [39]:
everything = everything.drop(["stint", "teamID_x", "lgID_x", "yearID_y", "teamID_y", "lgID_y"], axis=1)

In [40]:
everything.head()

,G,AB,R,H,2B,3B,HR,RBI,SB,CS,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
playerID,,,,,,,,,,,,,,,,,,,,,
aasedo01,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
abnersh01,37,83,6,15,3,0,2,5,0,1,...,0,0,0,10,11,17,35,0,1,3
ackerji01,21,5,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
agostju01,75,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aguaylu01,49,97,9,24,3,0,3,5,2,0,...,13,33,6,0,0,0,0,0,4,0

In [41]:
everything.columns

Index(['G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO',
       'IBB', 'HBP', 'SH', 'SF', 'GIDP', 'salary', 'yearID', 'teamID', 'lgID',
       'G_all', 'GS', 'G_batting', 'G_defense', 'G_p', 'G_c', 'G_1b', 'G_2b',
       'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_of', 'G_dh', 'G_ph', 'G_pr'],
      dtype='object')

In [42]:
everything = everything.drop(["yearID", "teamID", "lgID", "G_all", "GS", "G_batting", "G_defense", "G_pr", "G_ph", "G_dh"], axis=1)

In [43]:
everything.head()

,G,AB,R,H,2B,3B,HR,RBI,SB,CS,...,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of
playerID,,,,,,,,,,,,,,,,,,,,,
aasedo01,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35,0,0,0,0,0,0,0,0,0
abnersh01,37,83,6,15,3,0,2,5,0,1,...,0,0,0,0,0,0,10,11,17,35
ackerji01,21,5,0,2,0,0,0,0,0,0,...,21,0,0,0,0,0,0,0,0,0
agostju01,75,5,0,0,0,0,0,0,0,0,...,75,0,0,0,0,0,0,0,0,0
aguaylu01,49,97,9,24,3,0,3,5,2,0,...,0,0,0,13,33,6,0,0,0,0

In [44]:
everything.columns

Index(['G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO',
       'IBB', 'HBP', 'SH', 'SF', 'GIDP', 'salary', 'G_p', 'G_c', 'G_1b',
       'G_2b', 'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_of'],
      dtype='object')

In [47]:
everything = everything.drop(["R", "2B", "3B", "HR", "RBI", "SB", "CS", "SO", "SH", "GIDP"], axis=1)

In [49]:
everything = everything.drop(["IBB"], axis = 1)

In [50]:
everything.head()

,G,AB,H,BB,HBP,SF,salary,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of
playerID,,,,,,,,,,,,,,,,,
aasedo01,35,NaN,NaN,NaN,NaN,NaN,675000,35,0,0,0,0,0,0,0,0,0
abnersh01,37,83,15,4,1,1,63500,0,0,0,0,0,0,10,11,17,35
ackerji01,21,5,2,1,0,0,435000,21,0,0,0,0,0,0,0,0,0
agostju01,75,5,0,0,0,0,157500,75,0,0,0,0,0,0,0,0,0
aguaylu01,49,97,24,13,0,0,375000,0,0,0,13,33,6,0,0,0,0

In [51]:
everything["OBP"] = (everything.H + everything.HBP + everything.BB) / (everything.AB + everything.BB + everything.HBP +everything.SF)

In [52]:
everything.head()

,G,AB,H,BB,HBP,SF,salary,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,OBP
playerID,,,,,,,,,,,,,,,,,,
aasedo01,35,NaN,NaN,NaN,NaN,NaN,675000,35,0,0,0,0,0,0,0,0,0,NaN
abnersh01,37,83,15,4,1,1,63500,0,0,0,0,0,0,10,11,17,35,0.224719
ackerji01,21,5,2,1,0,0,435000,21,0,0,0,0,0,0,0,0,0,0.500000
agostju01,75,5,0,0,0,0,157500,75,0,0,0,0,0,0,0,0,0,0.000000
aguaylu01,49,97,24,13,0,0,375000,0,0,0,13,33,6,0,0,0,0,0.336364

In [53]:
everything = everything.drop(["H", "BB", "HBP", "SF"], axis=1)

In [54]:
everything.head()

,G,AB,salary,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,OBP
playerID,,,,,,,,,,,,,,
aasedo01,35,NaN,675000,35,0,0,0,0,0,0,0,0,0,NaN
abnersh01,37,83,63500,0,0,0,0,0,0,10,11,17,35,0.224719
ackerji01,21,5,435000,21,0,0,0,0,0,0,0,0,0,0.500000
agostju01,75,5,157500,75,0,0,0,0,0,0,0,0,0,0.000000
aguaylu01,49,97,375000,0,0,0,13,33,6,0,0,0,0,0.336364

In [56]:
everything = everything[pd.notnull]

/Users/ZSeaborn/Desktop/Homework/moneyball/.direnv/python-3.5.0/lib/python3.5/site-packages/pandas/core/ops.py:566: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison