To determine the best players, position players had to play a minimum of 50 games at the position they were selected for.  Pitchers had to have at least 10 plate appearances to be selected.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [48]:
my_90s_team = {"Player": ["Allen Watson", "Michael Barrett", "Jeff Bagwell", "Chuck Knoblauch", "Corey Koskie", "Derek Jeter", "Barry Bonds", "Preston Wilson", "Bobby Higginson"], "Position": ["P", "C", "1B", "2B", "3B", "SS", "LF", "CF", "RF"], "Year": ["1995", "1999", "1994", "1992", "1999", "1996", "1990", "1999", "1996"], "Salary": [155000, 200500, 2525000, 325000, 200000, 130000, 850000, 201000, 170000], "OBP": [0.447, 0.345, 0.451, 0.384, 0.387, 0.370, 0.406, 0.350, 0.404]}
my_00s_team = {"Player": ["Wes Obermueller", "Brian McCann", "Ryan Howard", "Brian Roberts", "Garett Atkins", "Hanley Ramirez", "Denard Span", "B.J. Upton", "Nick Markakis"], "Position": ["P", "C", "1B", "2B", "3B", "SS", "LF", "CF", "RF"], "Year": ["2004", "2006", "2006", "2005", "2006", "2008", "2009", "2007", "2008"], "Salary": [314000, 333500, 355000, 390000, 335000, 439000, 435000, 386900, 455000], "OBP": [0.400, 0.388, 0.425, 0.387, 0.409, 0.400, 0.392, 0.386, 0.406]}
my_10s_team = {"Player": ["Yovani Gallardo", "Alex Avila", "Paul Goldschmidt", "Jason Kipnis", "Pablo Sandoval", "Elvis Andrus", "Corey Dickerson", "Mike Trout", "Jason Heyward"], "Position": ["P", "C", "1B", "2B", "3B", "SS", "LF", "CF", "RF"], "Year": ["2010", "2011", "2013", "2013", "2011", "2010", "2014", "2013", "2010"], "Salary": [450000, 425000, 500000, 509400, 500000, 418420, 500000, 510000, 400000], "OBP": [0.329, 0.389, 0.401, 0.377, 0.356, 0.342, 0.364, 0.432, 0.393]}
my_80s_team = {"Player": ["Dave Rucker", "Mike Scioscia", "Mark Grace", "Toby Harrah", "Kevin Seitzer", "Jody Reed", "Dan Pasqua", "Gerald Young", "Danny Tartabull"], "Position": ["P", "C", "1B", "2B", "3B", "SS", "LF", "CF", "RF"], "Year": ["1985", "1985", "1989", "1985", "1987", "1988", "1986", "1987", "1987"], "Salary": [220000, 435000, 140000, 650000, 62500, 64500, 70000, 62500, 145000], "OBP": [0.385, 0.407, 0.405, 0.432, 0.399, 0.380, 0.399, 0.380, 0.390]}

In [3]:
batting = pd.read_csv("data/Batting.csv")
salaries = pd.read_csv("data/Salaries.csv")
master = pd.read_csv("data/Master.csv")
appearances = pd.read_csv("data/Appearances.csv")

In [4]:
master = master.drop(["birthYear", "birthMonth", "birthDay", "birthCountry", "birthState", "birthCity", "deathYear", "deathMonth", "deathDay", "weight", "height", "bats", "throws", "debut", "finalGame", "retroID", "bbrefID"], axis=1)
master = master.drop(["deathCountry", "deathState", "deathCity", "nameGiven"], axis=1)

In [5]:
batting_90s = batting[batting.yearID.isin([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999])]
salaries_90s = salaries[salaries.yearID.isin([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999])]
appearances_90s = appearances[appearances.yearID.isin([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999])]
everything_90s = pd.merge(batting_90s, salaries_90s, how="inner", left_on=["yearID", "playerID"], right_on=["yearID", "playerID"])
everything_90s = pd.merge(everything_90s, appearances_90s, how="inner", left_on=["yearID", "playerID"], right_on=["yearID", "playerID"])

In [6]:
everything_90s = everything_90s.set_index(["playerID"])
everything_90s = everything_90s.drop(["stint", "teamID_x", "lgID_x", "lgID_y"], axis=1)
everything_90s = everything_90s.drop(["teamID", "lgID", "G_all", "GS", "G_batting", "G_defense", "G_pr", "G_ph", "G_dh"], axis=1)
everything_90s = everything_90s.drop(["R", "2B", "3B", "HR", "RBI", "SB", "CS", "SO", "SH", "GIDP", "IBB"], axis=1)
everything_90s = everything_90s.sort(axis=0)
everything_90s["OBP"] = (everything_90s.H + everything_90s.HBP + everything_90s.BB) / (everything_90s.AB + everything_90s.BB + everything_90s.HBP +everything_90s.SF)
everything_90s = everything_90s[pd.notnull(everything_90s['OBP'])]
everything_90s = everything_90s.drop_duplicates(["yearID", "G", "AB"])
everything_90s = everything_90s.drop(["H", "BB", "HBP", "SF"], axis=1)

In [7]:
everything_hitters_90s = everything_90s.drop(everything_90s[everything_90s.G < 100].index)
everything_hitters_90s = pd.merge(everything_hitters_90s, master, how="inner", left_index=True, right_on="playerID")
everything_hitters_90s = everything_hitters_90s.set_index(["playerID"])
everything_hitters_90s = everything_hitters_90s.sort(columns='OBP', axis=0, ascending=False)
everything_hitters_90s = everything_hitters_90s.drop(["teamID_y", "G_p", "G_of"], axis=1)

In [8]:
hit_90s_c = everything_hitters_90s[["yearID", "G", "AB", "G_c", "nameFirst", "nameLast", "salary", "OBP"]]
hit_90s_1b = everything_hitters_90s[["yearID", "G", "AB", "G_1b", "nameFirst", "nameLast", "salary", "OBP"]]
hit_90s_2b = everything_hitters_90s[["yearID", "G", "AB", "G_2b", "nameFirst", "nameLast", "salary", "OBP"]]
hit_90s_3b = everything_hitters_90s[["yearID", "G", "AB", "G_3b", "nameFirst", "nameLast", "salary", "OBP"]]
hit_90s_ss = everything_hitters_90s[["yearID", "G", "AB", "G_ss", "nameFirst", "nameLast", "salary", "OBP"]]
hit_90s_lf = everything_hitters_90s[["yearID", "G", "AB", "G_lf", "nameFirst", "nameLast", "salary", "OBP"]]
hit_90s_cf = everything_hitters_90s[["yearID", "G", "AB", "G_cf", "nameFirst", "nameLast", "salary", "OBP"]]
hit_90s_rf = everything_hitters_90s[["yearID", "G", "AB", "G_rf", "nameFirst", "nameLast", "salary", "OBP"]]
hit_90s_c = hit_90s_c.drop(hit_90s_c[hit_90s_c.G_c < 50].index)
hit_90s_1b = hit_90s_1b.drop(hit_90s_1b[hit_90s_1b.G_1b < 50].index)
hit_90s_2b = hit_90s_2b.drop(hit_90s_2b[hit_90s_2b.G_2b < 50].index)
hit_90s_3b = hit_90s_3b.drop(hit_90s_3b[hit_90s_3b.G_3b < 50].index)
hit_90s_ss = hit_90s_ss.drop(hit_90s_ss[hit_90s_ss.G_ss < 50].index)
hit_90s_lf = hit_90s_lf.drop(hit_90s_lf[hit_90s_lf.G_lf < 50].index)
hit_90s_cf = hit_90s_cf.drop(hit_90s_cf[hit_90s_cf.G_cf < 50].index)
hit_90s_rf = hit_90s_rf.drop(hit_90s_rf[hit_90s_rf.G_rf < 50].index)

In [9]:
pitchers_90s = everything_90s.drop(everything_90s[everything_90s.G_p <= 1].index)
pitchers_90s = pitchers_90s.drop(["G_c", "G_1b", "G_c", "G_2b", "G_3b", "G_ss", "G_lf", "G_cf", "G_rf", "G_of"], axis=1)
pitchers_90s = pd.merge(pitchers_90s, master, how="inner", left_index=True, right_on="playerID")
pitchers_90s = pitchers_90s.set_index(["playerID"])
pitchers_90s = pitchers_90s.sort(columns="OBP", axis=0, ascending=False)
pitchers_90s = pitchers_90s.drop(pitchers_90s[pitchers_90s.AB < 10].index)

In [10]:
with pd.option_context('display.max_rows', 999, 'display.max_columns', 20):
    print(hit_90s_rf)

           yearID    G   AB  G_rf nameFirst   nameLast   salary       OBP
playerID
oneilpa01    1994  103  368    90      Paul    O'Neill  3858334  0.460497
gwynnto01    1994  110  419   105      Tony      Gwynn  3633333  0.453586
oneilpa01    1996  150  546   146      Paul    O'Neill  5300000  0.410606
gwynnto01    1997  149  592   143      Tony      Gwynn  4575000  0.409231
higgibo02    1996  130  440    57     Bobby  Higginson   170000  0.404297
gwynnto01    1995  135  535   133      Tony      Gwynn  4658334  0.403813
gwynnto01    1996  116  451   111      Tony      Gwynn  4300000  0.400402
oneilpa01    1997  149  553   146      Paul    O'Neill  5500000  0.398744
gwynnto01    1993  122  489   121      Tony      Gwynn  4333333  0.397749
oneilpa01    1995  127  460   107      Paul    O'Neill  2850000  0.386740
gwynnto01    1999  111  411   104      Tony      Gwynn  4400000  0.381166
higgibo02    1997  146  546    56     Bobby  Higginson   375000  0.378812
oneilpa01    1998  152  602   150      Paul    O'Neill  5500000  0.372024
gwynnto01    1992  128  520   127      Tony      Gwynn  2025000  0.370826
oneilpa01    1993  141  498   103      Paul    O'Neill  3833333  0.367459
gwynnto01    1998  127  461   116      Tony      Gwynn  4050000  0.364356
lemonch01    1990  104  322    94      Chet      Lemon   828571  0.359043
nixontr01    1999  124  381   121      Trot      Nixon   200000  0.357303
gwynnto01    1990  141  573   141      Tony      Gwynn  1066667  0.356913
gwynnto01    1991  134  530   134      Tony      Gwynn  2162500  0.355009
higgibo02    1998  157  612   136     Bobby  Higginson  2425000  0.354745
oneilpa01    1999  153  597   151      Paul    O'Neill  6250000  0.352593
higgibo02    1999  107  377    88     Bobby  Higginson  3825000  0.350562
oneilpa01    1991  152  532   150      Paul    O'Neill   975000  0.345964
oneilpa01    1992  148  496   143      Paul    O'Neill  2833333  0.345955
oneilpa01    1990  145  503   141      Paul    O'Neill   625000  0.339254
higgibo02    1995  131  410    67     Bobby  Higginson   109000  0.328512
kotsama01    1998  154  578   107      Mark     Kotsay   171000  0.318182
kotsama01    1999  148  495   129      Mark     Kotsay   280000  0.305816
mosesjo01    1990  115  172    52      John      Moses   395000  0.302564
wilsogl01    1990  118  368    92     Glenn     Wilson   750000  0.293233

In [11]:
batting_00s = batting[batting.yearID.isin([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009])]
salaries_00s = salaries[salaries.yearID.isin([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009])]
appearances_00s = appearances[appearances.yearID.isin([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009])]
everything_00s = pd.merge(batting_00s, salaries_00s, how="inner", left_on=["yearID", "playerID"], right_on=["yearID", "playerID"])
everything_00s = pd.merge(everything_00s, appearances_00s, how="inner", left_on=["yearID", "playerID"], right_on=["yearID", "playerID"])

In [12]:
everything_00s = everything_00s.set_index(["playerID"])
everything_00s = everything_00s.drop(["stint", "teamID_x", "lgID_x", "lgID_y"], axis=1)
everything_00s = everything_00s.drop(["teamID", "lgID", "G_all", "GS", "G_batting", "G_defense", "G_pr", "G_ph", "G_dh"], axis=1)
everything_00s = everything_00s.drop(["R", "2B", "3B", "HR", "RBI", "SB", "CS", "SO", "SH", "GIDP", "IBB"], axis=1)
everything_00s["OBP"] = (everything_00s.H + everything_00s.HBP + everything_00s.BB) / (everything_00s.AB + everything_00s.BB + everything_00s.HBP +everything_00s.SF)
everything_00s = everything_00s.sort(axis=0)
everything_00s = everything_00s[pd.notnull(everything_00s['OBP'])]
everything_00s = everything_00s.drop_duplicates(["yearID", "G", "AB"])
everything_00s = everything_00s.drop(["H", "BB", "HBP", "SF"], axis=1)

In [13]:
everything_hitters_00s = everything_00s.drop(everything_00s[everything_00s.G < 100].index)
everything_hitters_00s = pd.merge(everything_hitters_00s, master, how="inner", left_index=True, right_on="playerID")
everything_hitters_00s = everything_hitters_00s.set_index(["playerID"])
everything_hitters_00s = everything_hitters_00s.sort(columns='OBP', axis=0, ascending=False)
everything_hitters_00s = everything_hitters_00s.drop(["teamID_y", "G_p", "G_of"], axis=1)

In [14]:
hit_00s_c = everything_hitters_00s[["yearID", "G", "AB", "G_c", "nameFirst", "nameLast", "salary", "OBP"]]
hit_00s_1b = everything_hitters_00s[["yearID", "G", "AB", "G_1b", "nameFirst", "nameLast", "salary", "OBP"]]
hit_00s_2b = everything_hitters_00s[["yearID", "G", "AB", "G_2b", "nameFirst", "nameLast", "salary", "OBP"]]
hit_00s_3b = everything_hitters_00s[["yearID", "G", "AB", "G_3b", "nameFirst", "nameLast", "salary", "OBP"]]
hit_00s_ss = everything_hitters_00s[["yearID", "G", "AB", "G_ss", "nameFirst", "nameLast", "salary", "OBP"]]
hit_00s_lf = everything_hitters_00s[["yearID", "G", "AB", "G_lf", "nameFirst", "nameLast", "salary", "OBP"]]
hit_00s_cf = everything_hitters_00s[["yearID", "G", "AB", "G_cf", "nameFirst", "nameLast", "salary", "OBP"]]
hit_00s_rf = everything_hitters_00s[["yearID", "G", "AB", "G_rf", "nameFirst", "nameLast", "salary", "OBP"]]
hit_00s_c = hit_00s_c.drop(hit_00s_c[hit_00s_c.G_c < 50].index)
hit_00s_1b = hit_00s_1b.drop(hit_00s_1b[hit_00s_1b.G_1b < 50].index)
hit_00s_2b = hit_00s_2b.drop(hit_00s_2b[hit_00s_2b.G_2b < 50].index)
hit_00s_3b = hit_00s_3b.drop(hit_00s_3b[hit_00s_3b.G_3b < 50].index)
hit_00s_ss = hit_00s_ss.drop(hit_00s_ss[hit_00s_ss.G_ss < 50].index)
hit_00s_lf = hit_00s_lf.drop(hit_00s_lf[hit_00s_lf.G_lf < 50].index)
hit_00s_cf = hit_00s_cf.drop(hit_00s_cf[hit_00s_cf.G_cf < 50].index)
hit_00s_rf = hit_00s_rf.drop(hit_00s_rf[hit_00s_rf.G_rf < 50].index)

In [15]:
pitchers_00s = everything_00s.drop(everything_00s[everything_00s.G_p <= 1].index)
pitchers_00s = pitchers_00s.drop(["G_c", "G_1b", "G_c", "G_2b", "G_3b", "G_ss", "G_lf", "G_cf", "G_rf", "G_of"], axis=1)
pitchers_00s = pd.merge(pitchers_00s, master, how="inner", left_index=True, right_on="playerID")
pitchers_00s = pitchers_00s.set_index(["playerID"])
pitchers_00s = pitchers_00s.sort(columns="OBP", axis=0, ascending=False)
pitchers_00s = pitchers_00s.drop(pitchers_00s[pitchers_00s.AB < 10].index)

In [16]:
with pd.option_context('display.max_rows', 999, 'display.max_columns', 20):
    print(hit_00s_rf)

           yearID    G   AB  G_rf nameFirst     nameLast    salary       OBP
playerID
markani01    2008  157  595   156      Nick     Markakis    455000  0.406026
hawpebr01    2007  152  516   142      Brad        Hawpe    403000  0.386777
hawpebr01    2009  145  501   141      Brad        Hawpe   5500000  0.384354
hawpebr01    2008  138  488   133      Brad        Hawpe   3925000  0.381371
ethiean01    2008  141  525   109     Andre       Ethier    424500  0.374790
uptonju01    2009  138  526   136    Justin        Upton    412000  0.366269
darrmi02     2001  105  289    69      Mike         Darr    215000  0.362538
markani01    2007  161  637   161      Nick     Markakis    400000  0.362482
ethiean01    2009  160  596   158     Andre       Ethier   3100000  0.360584
uptonju01    2008  108  356   101    Justin        Upton    393000  0.352518
markani01    2006  147  491   127      Nick     Markakis    327000  0.350649
ethiean01    2007  153  447   102     Andre       Ethier    387500  0.350495
hawpebr01    2005  101  305    89      Brad        Hawpe    317000  0.350427
sweenry01    2008  115  384    75      Ryan      Sweeney    395000  0.350348
sweenry01    2009  134  484    85      Ryan      Sweeney    410000  0.347744
markani01    2009  161  642   161      Nick     Markakis   3350000  0.347398
pencehu01    2009  159  585   157    Hunter        Pence    439000  0.346213
belleal01    2000  141  559   110    Albert        Belle  12868670  0.342444
oneilpa01    2000  142  566   140      Paul      O'Neill   6500000  0.335987
oneilpa01    2001  137  510   130      Paul      O'Neill   7250000  0.330373
mossbr01     2009  133  385    79   Brandon         Moss    414500  0.304245
bruceja01    2009  101  345    98       Jay        Bruce    417500  0.303109
schiena01    2009  116  285    86      Nate  Schierholtz    401250  0.301948
hollida02    2006  121  333    78     Damon      Hollins    346200  0.269122

In [17]:
pitchers_00s[0:100]

,yearID,G,AB,teamID_y,salary,G_p,OBP,nameFirst,nameLast
playerID,,,,,,,,,
obermwe01,2004,26,39,MIL,314000,25,0.400000,Wes,Obermueller
daalom01,2000,12,18,ARI,5625000,12,0.380952,Omar,Daal
karlsc01,2000,17,14,COL,3700000,6,0.375000,Scott,Karl
hudsolu01,2005,21,25,CIN,318000,19,0.370370,Luke,Hudson
hamptmi01,2002,36,64,COL,9503543,30,0.353846,Mike,Hampton
vargaja01,2006,12,16,FLO,327000,12,0.352941,Jason,Vargas
owingmi01,2008,36,52,ARI,402000,22,0.350877,Micah,Owings
hamptmi01,2009,21,37,HOU,2000000,21,0.350000,Mike,Hampton
hamptmi01,2005,12,25,ATL,15125000,12,0.346154,Mike,Hampton
bohanbr01,2001,21,31,COL,4000000,20,0.343750,Brian,Bohanon
zambrca01,2008,38,83,CHN,16000000,30,0.337349,Carlos,Zambrano
glavito02,2004,35,54,NYN,10765608,33,0.328125,Tom,Glavine
kiescbr01,2004,77,63,MIL,380000,32,0.323529,Brooks,Kieschnick
youngch03,2009,14,23,SDN,4625000,14,0.320000,Chris,Young
cookaa01,2007,25,42,COL,3100000,25,0.319149,Aaron,Cook
morrima01,2007,11,19,SFN,10037283,11,0.315789,Matt,Morris
hamptmi01,2000,35,73,NYN,5750000,33,0.312500,Mike,Hampton
hamptmi01,2001,43,79,COL,10500000,32,0.308642,Mike,Hampton
williwo02,2000,30,58,SDN,4583333,23,0.307692,Woody,Williams
ortizru01,2003,35,70,ATL,4662500,34,0.302632,Russ,Ortiz
peavyja01,2008,29,49,SDN,6500000,27,0.301887,Jake,Peavy
lowryno01,2005,34,59,SFN,322500,33,0.301587,Noah,Lowry
bynummi01,2003,13,10,SDN,300500,13,0.300000,Mike,Bynum
ortizru01,2002,33,69,SFN,2862500,33,0.298701,Russ,Ortiz
williwo02,2003,34,70,SLN,6000000,34,0.298701,Woody,Williams
janispa01,2009,90,256,CIN,400000,2,0.296167,Paul,Janish
jimenub01,2009,33,59,COL,750000,33,0.292308,Ubaldo,Jimenez
bogarti01,2000,110,304,HOU,700000,2,0.291908,Tim,Bogar
ortizru01,2000,33,61,SFN,462500,33,0.289855,Russ,Ortiz
williwo02,2001,11,27,SDN,5083333,23,0.285714,Woody,Williams
...,...,...,...,...,...,...,...,...,...
cookaa01,2009,28,44,COL,9375000,27,0.245283,Aaron,Cook
wolfra02,2006,13,21,PHI,9125000,12,0.240000,Randy,Wolf
bucknbi02,2009,16,21,ARI,403000,16,0.238095,Billy,Buckner
tollbbr01,2001,19,40,SDN,230000,19,0.238095,Brian,Tollberg
maddugr01,2001,35,64,ATL,12500000,34,0.235294,Greg,Maddux
rueteki01,2001,36,58,SFN,4866667,34,0.234375,Kirk,Rueter
hamelco01,2008,36,76,PHI,500000,33,0.233766,Cole,Hamels
neaglde01,2001,30,56,COL,7200000,30,0.233333,Denny,Neagle
billich01,2009,33,56,LAN,475000,33,0.233333,Chad,Billingsley
williwo02,2006,26,54,SDN,5000000,25,0.232143,Woody,Williams
bohanbr01,2000,35,53,COL,3000000,34,0.232143,Brian,Bohanon
neaglde01,2000,19,37,CIN,4750000,18,0.230769,Denny,Neagle
ishiika01,2005,19,25,NYN,3575000,19,0.230769,Kazuhisa,Ishii
tejermi01,2002,49,37,FLO,201000,47,0.230769,Michael,Tejera
sanchan01,2007,6,11,FLO,381000,6,0.230769,Anibal,Sanchez
youngch03,2007,30,46,SDN,600000,30,0.230769,Chris,Young
ramirho01,2005,34,73,ATL,370000,33,0.229730,Horacio,Ramirez
wolfra02,2000,32,57,PHI,240000,32,0.229508,Randy,Wolf
wolfra02,2001,28,45,PHI,365000,28,0.229167,Randy,Wolf
kileda01,2000,34,73,SLN,7417981,34,0.228916,Darryl,Kile
benesan01,2002,19,34,SLN,6367542,18,0.228571,Andy,Benes
glavito02,2005,33,64,NYN,10765608,33,0.227273,Tom,Glavine
foggjo01,2003,26,42,PIT,322000,26,0.227273,Josh,Fogg
glavito02,2008,14,19,ATL,8000000,13,0.227273,Tom,Glavine
sosajo02,2006,27,20,ATL,2200000,19,0.227273,Jorge,Sosa
glavito02,2000,37,68,ATL,9463237,35,0.226667,Tom,Glavine
cookaa01,2003,43,29,COL,300000,43,0.225806,Aaron,Cook
williwo02,2002,18,29,SLN,7300000,17,0.225806,Woody,Williams
zambrca01,2009,35,69,CHN,18750000,28,0.225352,Carlos,Zambrano
damicje01,2003,29,48,PIT,750000,29,0.222222,Jeff,D'Amico

In [18]:
batting_10s = batting[batting.yearID.isin([2010, 2011, 2012, 2013, 2014])]
salaries_10s = salaries[salaries.yearID.isin([2010, 2011, 2012, 2013, 2014])]
appearances_10s = appearances[appearances.yearID.isin([2010, 2011, 2012, 2013, 2014])]
everything_10s = pd.merge(batting_10s, salaries_10s, how="inner", left_on=["yearID", "playerID"], right_on=["yearID", "playerID"])
everything_10s = pd.merge(everything_10s, appearances_10s, how="inner", left_on=["yearID", "playerID"], right_on=["yearID", "playerID"])

In [19]:
everything_10s = everything_10s.set_index(["playerID"])
everything_10s = everything_10s.drop(["stint", "teamID_x", "lgID_x", "lgID_y"], axis=1)
everything_10s = everything_10s.drop(["teamID", "lgID", "G_all", "GS", "G_batting", "G_defense", "G_pr", "G_ph", "G_dh"], axis=1)
everything_10s = everything_10s.drop(["R", "2B", "3B", "HR", "RBI", "SB", "CS", "SO", "SH", "GIDP", "IBB"], axis=1)
everything_10s["OBP"] = (everything_10s.H + everything_10s.HBP + everything_10s.BB) / (everything_10s.AB + everything_10s.BB + everything_10s.HBP +everything_10s.SF)
everything_10s = everything_10s.sort(axis=0)
everything_10s = everything_10s[pd.notnull(everything_10s['OBP'])]
everything_10s = everything_10s.drop_duplicates(["yearID", "G", "AB"])
everything_10s = everything_10s.drop(["H", "BB", "HBP", "SF"], axis=1)

In [20]:
everything_hitters_10s = everything_10s.drop(everything_10s[everything_10s.G < 100].index)
everything_hitters_10s = pd.merge(everything_hitters_10s, master, how="inner", left_index=True, right_on="playerID")
everything_hitters_10s = everything_hitters_10s.set_index(["playerID"])
everything_hitters_10s = everything_hitters_10s.sort(columns='OBP', axis=0, ascending=False)
everything_hitters_10s = everything_hitters_10s.drop(["teamID_y", "G_p", "G_of"], axis=1)

In [21]:
hit_10s_c = everything_hitters_10s[["yearID", "G", "AB", "G_c", "nameFirst", "nameLast", "salary", "OBP"]]
hit_10s_1b = everything_hitters_10s[["yearID", "G", "AB", "G_1b", "nameFirst", "nameLast", "salary", "OBP"]]
hit_10s_2b = everything_hitters_10s[["yearID", "G", "AB", "G_2b", "nameFirst", "nameLast", "salary", "OBP"]]
hit_10s_3b = everything_hitters_10s[["yearID", "G", "AB", "G_3b", "nameFirst", "nameLast", "salary", "OBP"]]
hit_10s_ss = everything_hitters_10s[["yearID", "G", "AB", "G_ss", "nameFirst", "nameLast", "salary", "OBP"]]
hit_10s_lf = everything_hitters_10s[["yearID", "G", "AB", "G_lf", "nameFirst", "nameLast", "salary", "OBP"]]
hit_10s_cf = everything_hitters_10s[["yearID", "G", "AB", "G_cf", "nameFirst", "nameLast", "salary", "OBP"]]
hit_10s_rf = everything_hitters_10s[["yearID", "G", "AB", "G_rf", "nameFirst", "nameLast", "salary", "OBP"]]
hit_10s_c = hit_10s_c.drop(hit_10s_c[hit_10s_c.G_c < 50].index)
hit_10s_1b = hit_10s_1b.drop(hit_10s_1b[hit_10s_1b.G_1b < 50].index)
hit_10s_2b = hit_10s_2b.drop(hit_10s_2b[hit_10s_2b.G_2b < 50].index)
hit_10s_3b = hit_10s_3b.drop(hit_10s_3b[hit_10s_3b.G_3b < 50].index)
hit_10s_ss = hit_10s_ss.drop(hit_10s_ss[hit_10s_ss.G_ss < 50].index)
hit_10s_lf = hit_10s_lf.drop(hit_10s_lf[hit_10s_lf.G_lf < 50].index)
hit_10s_cf = hit_10s_cf.drop(hit_10s_cf[hit_10s_cf.G_cf < 50].index)
hit_10s_rf = hit_10s_rf.drop(hit_10s_rf[hit_10s_rf.G_rf < 50].index)

In [22]:
pitchers_10s = everything_10s.drop(everything_10s[everything_10s.G_p <= 1].index)
pitchers_10s = pitchers_10s.drop(["G_c", "G_1b", "G_c", "G_2b", "G_3b", "G_ss", "G_lf", "G_cf", "G_rf", "G_of"], axis=1)
pitchers_10s = pd.merge(pitchers_10s, master, how="inner", left_index=True, right_on="playerID")
pitchers_10s = pitchers_10s.set_index(["playerID"])
pitchers_10s = pitchers_10s.sort(columns="OBP", axis=0, ascending=False)
pitchers_10s = pitchers_10s.drop(pitchers_10s[pitchers_10s.AB < 10].index)

In [23]:
with pd.option_context('display.max_rows', 999, 'display.max_columns', 20):
    print(hit_10s_rf)

           yearID    G   AB  G_rf  nameFirst   nameLast    salary       OBP
playerID
stantmi03    2014  145  539   143  Giancarlo    Stanton   6500000  0.394984
heywaja01    2010  142  520   140      Jason    Heyward    400000  0.393258
navada01     2013  134  458    69     Daniel       Nava    505500  0.385338
puigya01     2014  148  558    91     Yasiel       Puig   3714000  0.382445
markani01    2010  160  629   159       Nick   Markakis   7100000  0.369535
stantmi03    2013  116  425   116  Giancarlo    Stanton    537000  0.365079
markani01    2012  104  420   102       Nick   Markakis  12350000  0.363057
stantmi03    2012  123  449   117  Giancarlo    Stanton    480000  0.361277
stantmi03    2011  150  516   142  Giancarlo    Stanton    416000  0.356073
aokino01     2013  155  597   149       Nori       Aoki   1712500  0.355856
aokino01     2012  151  520   107       Nori       Aoki   1000000  0.354561
bruceja01    2010  148  509   146        Jay      Bruce    440000  0.352531
heywaja01    2014  149  573   149      Jason    Heyward   4500000  0.351310
markani01    2011  160  641   157       Nick   Markakis  10600000  0.350559
aokino01     2014  132  491   119       Nori       Aoki   1950000  0.349353
heywaja01    2013  104  382    87      Jason    Heyward   3650000  0.349315
navada01     2014  113  363    69     Daniel       Nava    556500  0.345588
markani01    2014  155  642   147       Nick   Markakis  15000000  0.342254
bruceja01    2011  157  585   155        Jay      Bruce   2791666  0.340875
venabwi01    2012  148  417   114       Will    Venable   1475000  0.335484
heywaja01    2012  158  587   154      Jason    Heyward    565000  0.335385
bruceja01    2013  160  626   160        Jay      Bruce   7541667  0.329023
markani01    2013  160  634   155       Nick   Markakis  15350000  0.328571
bruceja01    2012  155  560   154        Jay      Bruce   5041666  0.327014
heywaja01    2011  128  396   122      Jason    Heyward    496500  0.319383
reddijo01    2014  109  363   107       Josh    Reddick   2700000  0.316456
venabwi01    2013  151  481    97       Will    Venable   2675000  0.311891
venabwi01    2011  121  370    91       Will    Venable    444400  0.309756
reddijo01    2013  114  385   113       Josh    Reddick    510000  0.306818
reddijo01    2012  156  611   136       Josh    Reddick    485000  0.305060
arciaos01    2014  103  372   100    Oswaldo      Arcia    512500  0.300000
bogusbr01    2012  146  355   104      Brian  Bogusevic    483000  0.297030
grossga01    2010  105  222    50       Gabe      Gross    750000  0.290456
venabwi01    2014  146  406    75       Will    Venable   4250000  0.287640
bruceja01    2014  137  493   131        Jay      Bruce  10000000  0.281250

In [24]:
pitchers_10s[0:100]

,yearID,G,AB,teamID_y,salary,G_p,OBP,nameFirst,nameLast
playerID,,,,,,,,,
chacijh01,2014,12,15,COL,4850000,11,0.375000,Jhoulys,Chacin
zambrca01,2011,25,44,CHN,18875000,24,0.347826,Carlos,Zambrano
mcdonja03,2013,8,11,PIT,3025000,6,0.333333,James,McDonald
gallayo01,2010,33,63,MIL,450000,31,0.328571,Yovani,Gallardo
chacijh01,2012,14,24,COL,482000,14,0.320000,Jhoulys,Chacin
hudsoda01,2011,33,65,ARI,419000,33,0.308824,Daniel,Hudson
smithgr02,2010,10,13,COL,406000,8,0.307692,Greg,Smith
garcija02,2014,8,12,SLN,7750000,7,0.307692,Jaime,Garcia
leakemi01,2012,35,61,CIN,507500,30,0.306452,Mike,Leake
baileho02,2011,23,39,CIN,441000,22,0.300000,Homer,Bailey
niesejo01,2010,31,53,NYN,402000,30,0.295082,Jonathon,Niese
chatwty01,2012,23,16,COL,480000,19,0.294118,Tyler,Chatwood
kenneia01,2010,33,54,ARI,403000,32,0.290323,Ian,Kennedy
medlekr01,2010,32,27,ATL,407500,31,0.290323,Kris,Medlen
garlajo01,2010,34,56,SDN,4700000,33,0.285714,Jon,Garland
bumgama01,2014,34,66,SFG,3750000,33,0.285714,Madison,Bumgarner
garcija02,2012,20,40,SLN,3375000,20,0.285714,Jaime,Garcia
enrigba01,2011,8,12,ARI,418000,7,0.285714,Barry,Enright
niesejo01,2013,24,39,NYN,3050000,24,0.279070,Jonathon,Niese
woodtr01,2014,41,56,CHN,3900000,31,0.271186,Travis,Wood
hamelco01,2012,31,69,PHI,15000000,31,0.270270,Cole,Hamels
kendrky01,2011,35,24,PHI,2450000,34,0.269231,Kyle,Kendrick
kershcl01,2011,33,71,LAN,500000,33,0.266667,Clayton,Kershaw
kenneia01,2013,10,16,ARI,4265000,21,0.263158,Ian,Kennedy
mcdonja03,2012,33,49,PIT,502500,30,0.263158,James,McDonald
lannajo01,2013,14,21,PHI,2500000,14,0.260870,John,Lannan
woodtr01,2013,37,63,CHN,527500,32,0.257576,Travis,Wood
baileho02,2010,19,33,CIN,418000,19,0.257143,Homer,Bailey
luebkco01,2011,47,33,SDN,415600,46,0.257143,Cory,Luebke
zambrca01,2010,42,52,CHN,18875000,36,0.254545,Carlos,Zambrano
...,...,...,...,...,...,...,...,...,...
geedi01,2012,17,27,NYN,502000,17,0.206897,Dillon,Gee
hamelco01,2013,33,56,PHI,20500000,33,0.206897,Cole,Hamels
kendrky01,2012,37,36,PHI,3585000,37,0.205128,Kyle,Kendrick
wellsra01,2010,32,52,CHN,427000,32,0.203704,Randy,Wells
weaveje02,2010,34,10,LAA,4265000,34,0.200000,Jered,Weaver
nicasju01,2012,11,18,COL,480000,11,0.200000,Juan,Nicasio
myersbr01,2010,33,62,HOU,3100000,33,0.200000,Brett,Myers
mileywa01,2014,33,57,ARI,523500,33,0.200000,Wade,Miley
cainma01,2012,35,74,SFN,15333333,32,0.197368,Matt,Cain
kenneia01,2011,34,61,ARI,423000,33,0.196970,Ian,Kennedy
hudsoti01,2010,35,77,ATL,9000000,34,0.194805,Tim,Hudson
hamelco01,2011,33,69,PHI,9500000,32,0.194444,Cole,Hamels
mileywa01,2012,32,65,ARI,481000,32,0.194030,Wade,Miley
kenneia01,2014,33,52,SDN,6100000,33,0.192982,Ian,Kennedy
bushda01,2010,40,53,MIL,4215000,32,0.192982,Dave,Bush
chacijh01,2011,33,61,COL,419000,31,0.190476,Jhoulys,Chacin
jurrjja01,2010,20,39,ATL,480000,20,0.190476,Jair,Jurrjens
minormi01,2013,32,61,ATL,505000,32,0.190476,Mike,Minor
leakemi01,2014,40,68,CIN,5925000,33,0.188406,Mike,Leake
lohseky01,2011,35,63,SLN,12187500,30,0.187500,Kyle,Lohse
bumgama01,2011,35,59,SFN,450000,33,0.187500,Madison,Bumgarner
baileho02,2014,23,41,CIN,9000000,23,0.186047,Homer,Bailey
rossty01,2013,36,33,SDN,500500,35,0.181818,Tyson,Ross
niesejo01,2014,31,55,NYM,5000000,30,0.180328,Jonathon,Niese
kenneia01,2013,22,37,ARI,4265000,21,0.179487,Ian,Kennedy
volstch01,2012,21,28,CHN,2655000,21,0.178571,Chris,Volstad
stulter01,2013,37,61,SDN,507600,33,0.177419,Eric,Stults
santajo01,2010,29,62,NYN,20144707,29,0.177419,Johan,Santana
bumgama01,2013,31,56,SFN,916667,31,0.177419,Madison,Bumgarner
zambrca01,2012,35,34,MIA,19000000,35,0.176471,Carlos,Zambrano

In [30]:
batting_80s = batting[batting.yearID.isin([1985, 1986, 1987, 1988, 1989])]
salaries_80s = salaries[salaries.yearID.isin([1985, 1986, 1987, 1988, 1989])]
appearances_80s = appearances[appearances.yearID.isin([1985, 1986, 1987, 1988, 1989])]
everything_80s = pd.merge(batting_80s, salaries_80s, how="inner", left_on=["yearID", "playerID"], right_on=["yearID", "playerID"])
everything_80s = pd.merge(everything_80s, appearances_80s, how="inner", left_on=["yearID", "playerID"], right_on=["yearID", "playerID"])

In [31]:
everything_80s = everything_80s.set_index(["playerID"])
everything_80s = everything_80s.drop(["stint", "teamID_x", "lgID_x", "lgID_y"], axis=1)
everything_80s = everything_80s.drop(["teamID", "lgID", "G_all", "GS", "G_batting", "G_defense", "G_pr", "G_ph", "G_dh"], axis=1)
everything_80s = everything_80s.drop(["R", "2B", "3B", "HR", "RBI", "SB", "CS", "SO", "SH", "GIDP", "IBB"], axis=1)
everything_80s["OBP"] = (everything_80s.H + everything_80s.HBP + everything_80s.BB) / (everything_80s.AB + everything_80s.BB + everything_80s.HBP +everything_80s.SF)
everything_80s = everything_80s.sort(axis=0)
everything_80s = everything_80s[pd.notnull(everything_80s['OBP'])]
everything_80s = everything_80s.drop_duplicates(["yearID", "G", "AB"])
everything_80s = everything_80s.drop(["H", "BB", "HBP", "SF"], axis=1)

In [32]:
everything_hitters_80s = everything_80s.drop(everything_80s[everything_80s.G < 50].index)
everything_hitters_80s = pd.merge(everything_hitters_80s, master, how="inner", left_index=True, right_on="playerID")
everything_hitters_80s = everything_hitters_80s.set_index(["playerID"])
everything_hitters_80s = everything_hitters_80s.sort(columns='OBP', axis=0, ascending=False)
everything_hitters_80s = everything_hitters_80s.drop(["teamID_y", "G_p", "G_of"], axis=1)

In [33]:
hit_80s_c = everything_hitters_80s[["yearID", "G", "AB", "G_c", "nameFirst", "nameLast", "salary", "OBP"]]
hit_80s_1b = everything_hitters_80s[["yearID", "G", "AB", "G_1b", "nameFirst", "nameLast", "salary", "OBP"]]
hit_80s_2b = everything_hitters_80s[["yearID", "G", "AB", "G_2b", "nameFirst", "nameLast", "salary", "OBP"]]
hit_80s_3b = everything_hitters_80s[["yearID", "G", "AB", "G_3b", "nameFirst", "nameLast", "salary", "OBP"]]
hit_80s_ss = everything_hitters_80s[["yearID", "G", "AB", "G_ss", "nameFirst", "nameLast", "salary", "OBP"]]
hit_80s_lf = everything_hitters_80s[["yearID", "G", "AB", "G_lf", "nameFirst", "nameLast", "salary", "OBP"]]
hit_80s_cf = everything_hitters_80s[["yearID", "G", "AB", "G_cf", "nameFirst", "nameLast", "salary", "OBP"]]
hit_80s_rf = everything_hitters_80s[["yearID", "G", "AB", "G_rf", "nameFirst", "nameLast", "salary", "OBP"]]
hit_80s_c = hit_80s_c.drop(hit_80s_c[hit_80s_c.G_c < 50].index)
hit_80s_1b = hit_80s_1b.drop(hit_80s_1b[hit_80s_1b.G_1b < 50].index)
hit_80s_2b = hit_80s_2b.drop(hit_80s_2b[hit_80s_2b.G_2b < 50].index)
hit_80s_3b = hit_80s_3b.drop(hit_80s_3b[hit_80s_3b.G_3b < 50].index)
hit_80s_ss = hit_80s_ss.drop(hit_80s_ss[hit_80s_ss.G_ss < 50].index)
hit_80s_lf = hit_80s_lf.drop(hit_80s_lf[hit_80s_lf.G_lf < 50].index)
hit_80s_cf = hit_80s_cf.drop(hit_80s_cf[hit_80s_cf.G_cf < 50].index)
hit_80s_rf = hit_80s_rf.drop(hit_80s_rf[hit_80s_rf.G_rf < 50].index)

In [34]:
pitchers_80s = everything_80s.drop(everything_80s[everything_80s.G_p <= 1].index)
pitchers_80s = pitchers_80s.drop(["G_c", "G_1b", "G_c", "G_2b", "G_3b", "G_ss", "G_lf", "G_cf", "G_rf", "G_of"], axis=1)
pitchers_80s = pd.merge(pitchers_80s, master, how="inner", left_index=True, right_on="playerID")
pitchers_80s = pitchers_80s.set_index(["playerID"])
pitchers_80s = pitchers_80s.sort(columns="OBP", axis=0, ascending=False)
pitchers_80s = pitchers_80s.drop(pitchers_80s[pitchers_80s.AB < 10].index)

In [47]:
with pd.option_context('display.max_rows', 999, 'display.max_columns', 20):
    print(hit_80s_rf)

           yearID    G   AB  G_rf nameFirst     nameLast   salary       OBP
playerID
gwynnto01    1987  157  589   156      Tony        Gwynn   765000  0.446903
evansdw01    1987  154  541    77    Dwight        Evans  1070000  0.417047
strawda01    1987  154  532   151    Darryl   Strawberry  1245000  0.398438
evansdw01    1989  146  520    77    Dwight        Evans  1100000  0.397456
tartada01    1987  158  582   150     Danny    Tartabull   145000  0.389805
strawda01    1985  111  393   100    Darryl   Strawberry   516667  0.389362
gwynnto01    1989  158  604    73      Tony        Gwynn  1141667  0.389222
gwynnto01    1986  160  642   160      Tony        Gwynn   540000  0.380544
evansdw01    1985  159  617   152    Dwight        Evans   800000  0.378197
evansdw01    1986  152  529   149    Dwight        Evans  1017757  0.376176
evansdw01    1988  149  559    84    Dwight        Evans  1600000  0.374806
gwynnto01    1988  133  521   102      Tony        Gwynn   840000  0.372822
tartada01    1989  133  441    73     Danny    Tartabull  1035000  0.368932
strawda01    1988  153  543   150    Darryl   Strawberry  1320000  0.365625
gwynnto01    1985  154  622   152      Tony        Gwynn   440000  0.364179
caldeiv01    1987  144  542   135      Ivan     Calderon    85000  0.362438
winfida01    1987  156  575   145      Dave     Winfield  1911714  0.357798
strawda01    1986  136  475   130    Darryl   Strawberry   945000  0.357651
winfida01    1986  154  565   145      Dave     Winfield  1886714  0.349231
tartada01    1986  137  511    87     Danny    Tartabull    85000  0.347222
sierrru01    1989  162  634   161     Ruben       Sierra   350000  0.346880
dawsoan01    1988  157  591   147     Andre       Dawson  1850000  0.344288
lacyle01     1985  121  492   115       Lee         Lacy   725000  0.343228
marshmi02    1985  135  518   124      Mike     Marshall   333000  0.341637
dawsoan01    1986  130  496   127     Andre       Dawson  1047000  0.337615
lacyle01     1986  130  491   120       Lee         Lacy   725000  0.333959
caldeiv01    1989  157  622    89      Ivan     Calderon   380000  0.332344
winfida01    1985  155  633   152      Dave     Winfield  1795704  0.328012
dawsoan01    1987  153  621   152     Andre       Dawson   700000  0.327795
marshmi02    1987  104  402   102      Mike     Marshall   670000  0.327103
lacyle01     1987   87  258    79       Lee         Lacy   525000  0.326460
snydeco02    1988  142  511   139      Cory       Snyder   185000  0.326165
marshmi02    1989  105  377   102      Mike     Marshall  1100000  0.324582
housepa02    1985   95  299    59      Paul  Householder   215000  0.320122
felixju01    1989  110  415    86    Junior        Felix    68000  0.314978
marshmi02    1988  144  542    90      Mike     Marshall   760000  0.313692
strawda01    1989  134  476   131    Darryl   Strawberry  1495000  0.312384
dawsoan01    1989  118  416   112     Andre       Dawson  2100000  0.307190
sierrru01    1986  113  382    68     Ruben       Sierra    60000  0.302439
sierrru01    1988  156  615   153     Ruben       Sierra   230000  0.300898
caldeiv01    1988   73  264    63      Ivan     Calderon   140000  0.299003
snydeco02    1986  103  416    70      Cory       Snyder    60000  0.298611
marshmi02    1986  103  330    97      Mike     Marshall   650000  0.298343
dawsoan01    1985  139  529   123     Andre       Dawson  1033333  0.295255
vukovge01    1985  149  434   131    George     Vukovich   375000  0.292111
davidma01    1988  100  106    84      Mark     Davidson    89000  0.288136
snydeco02    1987  157  577   134      Cory       Snyder    90000  0.273171
snydeco02    1989  132  489   125      Cory       Snyder   340000  0.250965
wrighge03    1985  109  363    55    George       Wright   400000  0.241026

In [36]:
pitchers_80s[0:100]

,yearID,G,AB,teamID_y,salary,G_p,OBP,nameFirst,nameLast
playerID,,,,,,,,,
ruckeda01,1985,41,12,PHI,220000,39,0.384615,Dave,Rucker
hammaat01,1989,28,19,SFN,983334,28,0.368421,Atlee,Hammaker
kneppbo01,1989,22,31,HOU,68000,22,0.351351,Bob,Knepper
fernasi01,1988,31,56,NYN,580000,31,0.307692,Sid,Fernandez
learyti01,1987,39,23,LAN,170000,39,0.304348,Tim,Leary
learyti01,1989,14,26,LAN,670000,19,0.300000,Tim,Leary
ruffibr01,1989,24,34,PHI,175000,24,0.300000,Bruce,Ruffin
moyerja01,1987,39,61,CHN,70000,35,0.294118,Jamie,Moyer
scuddsc01,1989,23,24,CIN,68000,23,0.285714,Scott,Scudder
campri01,1985,66,13,ATL,633333,66,0.285714,Rick,Camp
andujjo01,1988,23,19,HOU,450000,23,0.285714,Joaquin,Andujar
lacosmi01,1988,19,33,SFN,500000,19,0.285714,Mike,LaCoss
learyti01,1988,36,67,LAN,190000,35,0.285714,Tim,Leary
honeyri01,1987,27,30,LAN,805000,7,0.281250,Rick,Honeycutt
terrysc01,1988,51,28,SLN,75000,51,0.275862,Scott,Terry
waltege01,1986,57,10,SDN,70000,57,0.272727,Gene,Walter
kneppbo01,1989,13,12,HOU,68000,22,0.266667,Bob,Knepper
lacosmi01,1986,37,61,SFN,225000,37,0.265625,Mike,LaCoss
goodedw01,1985,35,93,NYN,450000,35,0.265306,Dwight,Gooden
dennyjo01,1986,27,54,CIN,1083333,27,0.263158,John,Denny
sutclri01,1985,20,43,CHN,1260000,20,0.260870,Rick,Sutcliffe
coffmke01,1988,19,22,ATL,65000,18,0.260870,Kevin,Coffman
rasmude01,1988,20,48,CIN,457500,11,0.259259,Dennis,Rasmussen
krukomi01,1985,28,55,SFN,630000,28,0.258621,Mike,Krukow
niekrjo01,1985,32,68,HOU,825000,3,0.257143,Joe,Niekro
shower01,1989,17,34,SDN,1450000,16,0.257143,Eric,Show
palmeda01,1988,22,39,PHI,675000,22,0.256410,David,Palmer
coneda01,1989,34,77,NYN,332500,34,0.253165,David,Cone
thurmma01,1986,18,24,SDN,270000,17,0.250000,Mark,Thurmond
benesan01,1989,10,24,SDN,68000,10,0.250000,Andy,Benes
...,...,...,...,...,...,...,...,...,...
grosske01,1989,31,64,MON,850000,31,0.214286,Kevin,Gross
heatone01,1989,44,42,PIT,650000,42,0.214286,Neal,Heaton
perezpa01,1985,22,25,ATL,450000,22,0.214286,Pascual,Perez
valenfe01,1985,35,97,LAN,1200000,35,0.214286,Fernando,Valenzuela
powelde01,1986,27,14,LAN,62000,27,0.214286,Dennis,Powell
sutclri01,1987,35,81,CHN,1800000,34,0.213483,Rick,Sutcliffe
youmafl01,1986,33,75,MON,70000,33,0.212500,Floyd,Youmans
martide01,1988,34,78,MON,735000,34,0.212500,Dennis,Martinez
darliro01,1985,42,76,NYN,230000,36,0.212500,Ron,Darling
bluevi01,1985,33,30,SFN,250000,33,0.212121,Vida,Blue
downske01,1988,27,54,SFN,160000,27,0.210526,Kelly,Downs
reuscri01,1985,31,59,PIT,200000,31,0.209677,Rick,Reuschel
grantma01,1989,50,20,SDN,155000,50,0.208333,Mark,Grant
glavito02,1989,30,67,ATL,117500,29,0.208333,Tom,Glavine
gullibi01,1987,27,53,CIN,900000,27,0.207547,Bill,Gullickson
puleoch01,1987,36,28,ATL,117500,35,0.206897,Charlie,Puleo
darwida01,1987,35,66,HOU,740000,33,0.205882,Danny,Darwin
alexado01,1986,18,38,TOR,700000,17,0.205128,Doyle,Alexander
grosske01,1988,33,75,PHI,450000,33,0.205128,Kevin,Gross
bluevi01,1986,28,43,SFN,450000,28,0.204082,Vida,Blue
reuscri01,1987,25,60,PIT,750000,9,0.203125,Rick,Reuschel
drabedo01,1988,33,76,PIT,160000,33,0.202532,Doug,Drabek
stupejo01,1985,33,17,CIN,250000,33,0.200000,John,Stuper
carltst01,1985,16,28,PHI,1075000,16,0.200000,Steve,Carlton
rawlesh01,1985,36,58,PHI,700000,36,0.200000,Shane,Rawley
reedri01,1989,15,13,PIT,68000,15,0.200000,Rick,Reed
valenfe01,1988,23,44,LAN,2050000,23,0.200000,Fernando,Valenzuela
brownto05,1987,34,52,CIN,287500,32,0.200000,Tom,Browning
robinro01,1988,17,25,CIN,390000,17,0.200000,Ron,Robinson
coxda01,1985,35,79,SLN,110000,35,0.200000,Danny,Cox

In [49]:
all_time_team = {"80's": my_80s_team, "90's": my_90s_team, "00's": my_00s_team, "10's": my_10s_team}

In [61]:
team_frame_80s = pd.DataFrame.from_dict(my_80s_team)
team_frame_90s = pd.DataFrame.from_dict(my_90s_team)
team_frame_00s = pd.DataFrame.from_dict(my_00s_team)
team_frame_10s = pd.DataFrame.from_dict(my_10s_team)

In [63]:
team_frame_00s = team_frame_00s.set_index(["Position"])

In [65]:
team_frame_90s = team_frame_90s.set_index(["Position"])
team_frame_80s = team_frame_80s.set_index(["Position"])

In [66]:
team_frame_10s = team_frame_10s.set_index(["Position"])

In [68]:
all_time_frame = pd.merge(team_frame_00s, team_frame_10s, how="inner", left_index=True, right_index=True)

In [69]:
all_time_frame = pd.merge(all_time_frame, team_frame_90s, how="inner", left_index=True, right_index=True)

In [70]:
all_time_frame = pd.merge(all_time_frame, team_frame_80s, how="inner", left_index=True, right_index=True)

In [71]:
all_time_frame

,OBP_x,Player_x,Salary_x,Year_x,OBP_y,Player_y,Salary_y,Year_y,OBP_x,Player_x,Salary_x,Year_x,OBP_y,Player_y,Salary_y,Year_y
Position,,,,,,,,,,,,,,,,
P,0.400,Wes Obermueller,314000,2004,0.329,Yovani Gallardo,450000,2010,0.447,Allen Watson,155000,1995,0.385,Dave Rucker,220000,1985
C,0.388,Brian McCann,333500,2006,0.389,Alex Avila,425000,2011,0.345,Michael Barrett,200500,1999,0.407,Mike Scioscia,435000,1985
1B,0.425,Ryan Howard,355000,2006,0.401,Paul Goldschmidt,500000,2013,0.451,Jeff Bagwell,2525000,1994,0.405,Mark Grace,140000,1989
2B,0.387,Brian Roberts,390000,2005,0.377,Jason Kipnis,509400,2013,0.384,Chuck Knoblauch,325000,1992,0.432,Toby Harrah,650000,1985
3B,0.409,Garett Atkins,335000,2006,0.356,Pablo Sandoval,500000,2011,0.387,Corey Koskie,200000,1999,0.399,Kevin Seitzer,62500,1987
SS,0.400,Hanley Ramirez,439000,2008,0.342,Elvis Andrus,418420,2010,0.370,Derek Jeter,130000,1996,0.380,Jody Reed,64500,1988
LF,0.392,Denard Span,435000,2009,0.364,Corey Dickerson,500000,2014,0.406,Barry Bonds,850000,1990,0.399,Dan Pasqua,70000,1986
CF,0.386,B.J. Upton,386900,2007,0.432,Mike Trout,510000,2013,0.350,Preston Wilson,201000,1999,0.380,Gerald Young,62500,1987
RF,0.406,Nick Markakis,455000,2008,0.393,Jason Heyward,400000,2010,0.404,Bobby Higginson,170000,1996,0.390,Danny Tartabull,145000,1987

In [72]:
all_time_team = {"Player": ["Wes Obermueller", "Mike Scioscia", "Ryan Howard", "Toby Harrah", "Kevin Seitzer", "Hanley Ramirez", "Dan Pasqua", "Mike Trout", "Nick Markakis"], "Position": ["P", "C", "1B", "2B", "3B", "SS", "LF", "CF", "RF"], "Year": ["2004", "1985", "2006", "1985", "1987", "2008", "1986", "2013", "2008"], "Salary": [314000, 435000, 355000, 650000, 62500, 439000, 70000, 510000, 455000], "OBP": [0.400, 0.407, 0.425, 0.432, 0.399, 0.400, 0.399, 0.432, 0.406]}

In [73]:
all_time_team_frame = pd.DataFrame.from_dict(all_time_team)

In [74]:
all_time_team_frame

     OBP           Player Position  Salary  Year
0  0.400  Wes Obermueller        P  314000  2004
1  0.407    Mike Scioscia        C  435000  1985
2  0.425      Ryan Howard       1B  355000  2006
3  0.432      Toby Harrah       2B  650000  1985
4  0.399    Kevin Seitzer       3B   62500  1987
5  0.400   Hanley Ramirez       SS  439000  2008
6  0.399       Dan Pasqua       LF   70000  1986
7  0.432       Mike Trout       CF  510000  2013
8  0.406    Nick Markakis       RF  455000  2008

In [75]:
all_time_team_frame["Inflated Salary"] = [396142, 963452, 419654, 1439641, 131116, 485923, 152209, 521732, 503633]

In [76]:
all_time_team_frame

     OBP           Player Position  Salary  Year  Inflated Salary
0  0.400  Wes Obermueller        P  314000  2004           396142
1  0.407    Mike Scioscia        C  435000  1985           963452
2  0.425      Ryan Howard       1B  355000  2006           419654
3  0.432      Toby Harrah       2B  650000  1985          1439641
4  0.399    Kevin Seitzer       3B   62500  1987           131116
5  0.400   Hanley Ramirez       SS  439000  2008           485923
6  0.399       Dan Pasqua       LF   70000  1986           152209
7  0.432       Mike Trout       CF  510000  2013           521732
8  0.406    Nick Markakis       RF  455000  2008           503633

In [ ]:
all_time_team_frame.plot(x='Player', y="Inflated Salary", kind="barh", figsize=(10, 5), legend=True, title="My Team Inflated Salary by Player vs. Average MLB Player Salary in 2014")
#plt.vlines(avg_2014_mlb_sal, ymin=0, ymax=100,color="red", linestyle="dashed", label="Average Player Salary 2014")
plt.legend(bbox_to_anchor=(0, -0.05))
plt.show()